:root{
    --background: #e5e6b8;
    --backgroundplus: #bcbd95;
    --bars: #c6d4b8;
    --lightbars: #6ca6a3;
    --lightbarswhite: #78c2be;
    --lightbarsplus: #77b6b3;
    --addblack: #856a6a;
    --addblackplus:#856a6a;
    --addlight: #9c325c;
    --white: white;
    --inputbase: rgb(244, 250, 219);
    --inputselect: #2e6965;
    --inputhover: #458682;

    body{
        background-color: var(--background);
      }
      
}

::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-track{
  background-color: var(--lightbars);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: var(--inputselect);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: var(--inputhover);
}
